<!-- <header id="headerMenu">
  <div class="header-inner">
    <div class="container">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu"
        aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div id="navbarMenu" class="menu-one-page menu-center collapse navbar-collapse">
        <div class="container">
          <nav>
            <ul  class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item"><a class="nav-link" href="#vegas-slideshow">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="#section2">About Us</a></li>
              <li class="nav-item"><a class="nav-link" href="#section3">Pricing Plans</a></li>
              <li class="nav-item"><a class="nav-link" href="#section4">Blog</a></li>
              <li class="nav-item"><a class="nav-link" href="#section5">Testimonials</a></li>
              <li class="nav-item"><a class="nav-link" href="#section6">Contact Us</a></li>
            </ul>
          </nav>
        </div>
      </div>

    </div>
  </div>
</header> -->

<header class="navbar fixed-top navbar-expand-lg bg-body-tertiary header-sticky sticky-active" id="headerMenu">
  <div class="container-fluid header-inner">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu"
        aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbarMenu" class="menu-one-page menu-center collapse navbar-collapse">
        <div class="container">
          <nav>
            <ul  class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item"><a class="nav-link" href="#vegas-slideshow">Inicio</a></li>
              <li class="nav-item"><a class="nav-link" href="#section2">Nosotros</a></li>
              <li class="nav-item"><a class="nav-link" href="#section3">Galería</a></li>
              <li class="nav-item"><a class="nav-link" href="#section4">Historia</a></li>
              <li class="nav-item"><a class="nav-link" href="#section5">Eventos</a></li>
              <li class="nav-item"><a class="nav-link" href="#section6">Contactos</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
