<header id="header">
  <div class="header-inner">
    <div class="container">
      <!--Logo-->
      <div id="logo">
        <a href="/">
          <span class="logo-default">POLO</span>
          <span class="logo-dark">POLO</span>
        </a>
      </div>
      <!--End: Logo-->

      <!--Navigation Resposnive Trigger-->
      <div id="mainMenu-trigger">
        <button class="lines-button x"> <span class="lines"></span> </button>
      </div>
      <!--end: Navigation Resposnive Trigger-->

      <!--Navigation-->
      <div id="mainMenu" class="menu-one-page menu-center">
        <div class="container">
          <nav>
            <ul>
              <li><a href="#slider">Home</a></li>
              <li><a href="#section2">About Us</a></li>
              <li><a href="#section3">Pricing Plans</a></li>
              <li><a href="#section4">Blog</a></li>
              <li><a href="#section5">Testimonials</a></li>
              <li><a href="#section6">Contact Us</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <!--end: Navigation-->
    </div>
  </div>
</header>