<footer id="footer" class="bg-transparent">
    <div class="footer-content">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-5">
                    <div class="widget">
                        <div class="widget-title">Juna Smith</div>
                        <p class="mb-5">The most happiest time of the day!. Morbi sagittis, sem quis lacinia faucibus,
                            orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id
                            molestie ipsum volutpat quis sodales vel dolor.
                        </p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="widget">
                                <div class="widget-title">Follow us</div>
                                <ul class="list">
                                    <li><a href="#"><i class="fab fa-facebook-square"></i> Facebook</a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="widget">
                                <div class="widget-title">Contact us</div>
                                <ul class="list">
                                    <li><a href="tel:+1234567891011"><i class="fa fa-phone"></i> +1 10 987 654
                                            3210</a></li>
                                    <li>
                                        <a href="tel:+1234567891011"> <i class="fa fa-fax"></i> +1 10 987 654 3210
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-content">
        <div class="container">
            <div class="copyright-text text-center">&copy; 2021 POLO - Responsive Multi-Purpose HTML5 Template. All
                Rights Reserved.<a href="https://www.inspiro-media.com" target="_blank" rel="noopener"> INSPIRO</a>
            </div>
        </div>
    </div>
</footer>