<section id="section5"
    style="background-image:url(assets/wedding/images/shape-right-bottom.png); background-position:bottom right; background-repeat:no-repeat;">
    <div class="container">
        <div class="heading-text text-center m-b-80">
            <h2>Calendario de eventos</h2>
            <p class="lead">
                <!-- Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt -->
            </p>
        </div>

        <div class="row">
            <div *ngFor="let evento of eventos" class="col-lg-4 wedding-event">
                <h3 class="text-colored m-b-0">
                    {{evento.titulo}}
                </h3>
                <h5>
                    {{evento.fecha | date : 'short'}}
                </h5>
                <p>
                    {{evento.descripcion}}
                </p>
            </div>
        </div>
    </div>
</section>