<section id="section4"
  style="background-image:url(assets/wedding/images/shape-left-top.png); background-position:top left; background-repeat:no-repeat;">
  <div class="container">
    <div class="heading-text text-center">
      <h2 class="m-t-40 m-b-40">Nuestra historia de amor</h2>
      <p class="lead">
        {{resumenAmor.valor}}
      </p>
    </div>

    <!-- Timeline -->
    <ul class="timeline">

      <li class="timeline-item" *ngFor="let line of timelines">
        <div class="timeline-icon"><i [className]="line.icono"></i></div>
        <div class="timeline-item-date">{{ line.fecha | date: 'short': 'M/d/yy' }}</div>
        <h2>{{ line.titulo }}</h2>
        <p>
          {{line.descripcion}}
        </p>
      </li>


      <!--end: Timeline item-->
    </ul>
  </div>
</section>
