<section id="section3" class="p-t-0"
    style="background-image:url(assets/wedding/images/shape-right-bottom.png); background-position:bottom right; background-repeat:no-repeat;">
    <div class="container">
        <div class="heading-text text-center">
            <h2 class="m-t-40 m-b-80">Galería de ceremonias</h2>
        </div>

        <div class="portfolio">
            <div id="portfolio" class="grid-4-columns" data-margin="10" data-lightbox="gallery" data-item="grid-item">
                <div *ngFor="let foto of fotos" class="wedding-gallery-item grid-item">
                    <a [title]="foto.titulo" data-lightbox="gallery-image"
                        [href]="foto.foto">
                        <img [src]="foto.foto" alt="">
                        <div class="picture-legend">
                            {{foto.titulo}}
                        </div>
                        <div class="mask"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
