<!-- SLIDESHOW SLIDER -->
<app-slider></app-slider>
<!-- end: SLIDESHOW SLIDER -->

<!--HEADER-->
<app-header></app-header>
<!--END: HEADER-->

<!-- GROOM & BRIDE -->
<app-datos></app-datos>
<!-- end: GROOM & BRIDE -->

<!-- GALLERY -->
<app-gallery></app-gallery>
<!-- end: GALLERY -->

<!-- TIMELINE -->
<app-timeline></app-timeline>
<!-- end: TIMELINE -->

<!-- EVENTS -->
<app-events></app-events>
<!-- end: EVENTS -->

<!-- MAP -->
<app-maps></app-maps>
<!-- end: MAP -->

<!-- RESERVATION -->
<app-reservation></app-reservation>
<!-- end: RESERVATION -->

<!-- Footer -->
<app-footer></app-footer>
<!-- end: Footer -->