<section id="section2" class="background-image p-b-100"
  style="background-image:url(assets/wedding/images/shape-background.png); background-position:center center;">
  <div class="container">

    <div class="row">
      <div class="col-lg-4" data-animate="fadeInLeft" data-animate-delay="300">

        <div class="wedding-circle-image">
          <img src="assets/wedding/images/bride.jpg" alt="">
        </div>
        <div class="text-center">
          <h2 class="text-colored">{{ datosNovia.valor }}</h2>
          <p>
            {{ datosNovia.descripcion }}
          </p>
        </div>
      </div>
      <div class="col-lg-4" data-animate="fadeInUp" data-animate-delay="100">

        <div class="text-center">
          <h2 class="text-colored text-lg">Los Novios</h2>
          <p class="lead">
            Conoce a la novia y al novio
          </p>
          <img src="assets/wedding/images/rings.png" class="img-fluid" alt="">
        </div>
      </div>
      <div class="col-lg-4" data-animate="fadeInRight" data-animate-delay="300">
        <div class="wedding-circle-image">
          <img src="assets/wedding/images/groom.jpg" alt="">
        </div>
        <div class="text-center">
          <h2 class="text-colored">{{ datosNovio.valor }}</h2>
          <p>
            {{ datosNovio.descripcion }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
