<section id="section2" class="background-image p-b-100"
  style="background-image:url(assets/wedding/images/shape-background.png); background-position:center center;">
  <div class="container">

    <div class="row">
      <div class="col-lg-4" data-animate="fadeInLeft" data-animate-delay="300">

        <div class="wedding-circle-image">
          <img src="assets/wedding/images/bride.jpg" alt="">
        </div>
        <div class="text-center">
          <h2 class="text-colored">Juna Bellucci</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adi pisi cing elit, sed do eiusmod tempor exercitationemut labore et
            dolore magna aliqua. Ut enim ad consequatur quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat…</p>
        </div>
      </div>
      <div class="col-lg-4" data-animate="fadeInUp" data-animate-delay="100">

        <div class="text-center">
          <h2 class="text-colored text-lg">The Couple</h2>
          <p class="lead">
            Meet the Bride & the Groom
          </p>
          <img src="assets/wedding/images/rings.png" class="img-fluid" alt="">
        </div>
      </div>
      <div class="col-lg-4" data-animate="fadeInRight" data-animate-delay="300">
        <div class="wedding-circle-image">
          <img src="assets/wedding/images/groom.jpg" alt="">
        </div>
        <div class="text-center">
          <h2 class="text-colored">Gezim Smith</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adi pisi cing elit, sed do eiusmod tempor exercitationemut labore et
            dolore magna aliqua. Ut enim ad consequatur quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat…</p>
        </div>
      </div>
    </div>
  </div>
</section>